<configuration>
  <connectionStrings>
    <add name="MyPractingDataBase" connectionString=" server = FRUX\SQLEXPRESS; database = MyPractingDataBase; Integrated security = true"
   providerName="System.Data.SqlClient;" />
    <add name="DestinationDB" connectionString=" server = FRUX\SQLEXPRESS; database = DestinationDB; Integrated security = true"
  providerName="System.Data.SqlClient;" />
  </connectionStrings>
 
